/* Основная обёртка */
.contact-icons {
  display: flex;
  flex-direction: column;
  /* align-items: flex-end; */
  gap: 5px;
}

.messenger-icons {
  display: flex;
  gap: 10px;
  margin-bottom: 5px;
}

.icon-btn {
  padding: 6px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  /* transition: background 0.3s ease; */
  transition: all 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-size: 24px;
}

/* Navbar: цветной фон, белая иконка */
.icon-btn.whatsapp.navbar {
  background-color: #25d366;
  color: white;
}

.icon-btn.telegram.navbar {
  background-color: #0088cc;
  color: white;
}

.icon-btn.viber.navbar {
  background-color: #7360f2;
  color: white;
}
.icon-btn.email-icon.navbar {
  background-color: #0088cc;
  color: white;
}
.icon-btn.phone-icon.navbar {
  background-color: #0088cc;
  color: white;
}

.icon-btn.navbar:hover {
  opacity: 0.8;
  transform: scale(1.05);
}

/* Footer: белый фон, цветная иконка */
.icon-btn.footer {
  background-color: white;
  color: inherit;
}

.messenger-buttons.footer {
  align-items: flex-start; /* вместо flex-end */
}

.icon-btn.whatsapp.footer {
  color: #25d366;
}

.icon-btn.telegram.footer {
  color: #0088cc;
}

.icon-btn.viber.footer {
  color: #7360f2;
}

.icon-btn.footer:hover {
  background-color: #f0f0f0;
}

.phone-number {
  display: inline-flex;
  font-size: 16px;
  text-decoration: underline;
}
.phone-number.navbar {
  display: none;
}

h5 {
  text-align: center;
}
.contact-header {
  text-align: center;
  margin-top: 40px;
}
.contact-us {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 20px;
  text-align: center;
}

/* Контактная информация */
.contact-info-block {
  padding: 10px 20px;
  text-align: center;
  color: #444;
  font-size: 17px;
}

/* Адаптация под мобильные */
@media (max-width: 768px) {
  .icon-btn {
    padding: 14px;
    font-size: 20px;
  }

  h1 {
    font-size: 24px;
  }

  h5 {
    font-size: 14px;
  }

  p {
    font-size: 16px;
  }

  .contact-us {
    gap: 20px;
    padding: 15px;
  }
}
