html,
body {
  overflow-x: hidden;
}

body {
  margin: 15px;
  /* font-family: Arial, sans-serif; */
  background-color: #f4faff; /* светло-синий фон */
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  color: #006699; /* тёмно-синий */
}

button {
  background-color: #009966; /* зелёный */
  color: #fff;
  border: none;
  padding: 10px 16px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #007755;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

@media (max-width: 600px) {
  .container {
    padding: 10px;
  }

  button {
    width: 100%;
  }
}
